div.navbar{
    background: linear-gradient(rgba(30,0,0,0.9), rgba(75,10,10,0.9));
    padding: 8px 8px 8px 8px;
    margin: -10px -10px -10px -10px;
    height: 50px;
}

.icon{
    max-height: 100%;
    max-width: 100%;
}