@import url('https://fonts.googleapis.com/css?family=Patua+One');

body {
  overflow: hidden;
  overflow-y: auto;
  animation-name: rainbow;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.spinner {
  color: white;
  font-size: 300px;
  overflow: hidden;
  font-family: 'Patua One';
  text-align: center;
  animation-name: spin, depth;
  /* animation-timing-function: cubic-bezier(.36,.06,.87,.09); */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  transform-style: preserve-3d;
  position: relative;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.spinner::before,
.spinner::after {
  content: attr(text);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: rotateY(0.5deg);
  transform-origin: 0 50%;
}
.spinner::after {
  transform: rotateY(-0.5deg);
  transform-origin: 100% 50%;
}

.description {
  font-size: 80px;
}

a{
  font-family: 'Patua One';
  font-size: 40px;
  animation-name: disco;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  text-shadow: 1px 1px 2px black,
               2px 2px 2px black,
               3px 3px 2px black,
               4px 4px 2px black,
               5px 5px 2px black,
               6px 6px 2px black,
               7px 7px 2px black,
               8px 8px 2px black,
               9px 9px 2px black,
               10px 10px 2px black;
}

.link{
  animation-name: bounce;
  animation-duration:8s;
  transition: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.link:hover{
  letter-spacing: 5px;
}

@keyframes bounce {
  0% {font-size: 40px;}
  50% {font-size: 80px;}
  100% {font-size: 40px;}
}

@keyframes spin {
  0% { transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg); }
  25% { transform: rotateX(10deg) rotateY(90deg) rotateZ(-20deg); }
  50% { transform: rotateX(20deg) rotateY(180deg) rotateZ(0deg); }
  75% { transform: rotateX(10deg) rotateY(270deg) rotateZ(20deg); }
  100% { transform: rotateX(20deg) rotateY(360deg) rotateZ(0deg); }
}
@keyframes depth {
  0% { text-shadow: 3px 0  20px red, -3px 0 20px blue; }
  100% {text-shadow: -3px 0  20px red, 3px 0 20px blue;}
}
@keyframes rainbow {
  0% { background: rgba(10,50,20); }
  20% { background: rgba(50,10,20); }
  40% { background: rgba(10,20,50); }
  60% { background: rgba(20,50,10); }
  80% { background: rgba(50,20,10); }
  90% { background: rgba(20,10,50); }
  100% { background: rgba(10,50,20); }
}
@keyframes disco {
  0%{color: red;}
  20%{color: blue;}
  40%{color: green;}
  60%{color: gold;}
  80%{color: yellow;}
  90%{color: white;}
  100%{color: red;}
}

/* Minor 404 */
body{
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
}

main{
  overflow-y: hidden;
  overflow-x: hidden;
}
