/* Stylings for carousel */

.carousel {
    margin-top: 65px;
    --main-height: 500px;
    height: var(--main-height);
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    background: rgba(0,0,0,0.5);
    box-shadow: inset 0 0 20px 1px black;
    z-index: 10;
}

/* Adds inset shadow to images in carousel. */
.item:before{
    box-shadow: inset 0 0 50px 20px rgba(0, 0, 0, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: var(--main-height);
    background-color: #777;
}

.carousel-inner > .item > img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    object-fit: cover;
    height: var(--main-height);
}