/*Stylings for the header*/

header{
    min-width: 450px;
    width: 100%;
    top: 0px;
    /* min-width: 1166px; */
    position: sticky;
}

ul{
    display: inline-table;
}

li{
    display: table-cell;
}

ul#leftside{
    margin-left: -30px;
}

/*Identities*/
#activemenu{
    color: rgba(255,200,20,1);
}

#navbar{
    z-index: 20;
    background: linear-gradient(rgba(30, 0, 0, 1), rgba(120, 20, 20, 0.95));
    box-shadow: 5px 5px 10px rgba(40,10,10,1);
    grid-area: header;
}

#hmbg{
    position: absolute;
    height: 100%;
    width: 60px;
    right: 0;
    padding: 0 15px;
    border: 5px solid rgb(126, 18, 18);
    box-shadow: 0 0 15px black;
    outline: none;
    background: linear-gradient(rgb(200,0,0,1), rgb(150,50,0,1));
    color: #fff;
    cursor: pointer;
    transition: linear 200ms;
    font-size: 30px;
}

#hmbg:hover{
    border: 5px solid rgb(255, 165, 165);
    font-size: 35px;
}

#syneicon{
    max-height: 150%;
    padding: 0;
    margin: -6px -6px -6px -6px;
}

div#iconbox{
    vertical-align: top;
    height: 75px;
    display: inline-block;
    float: left;
}

ul#leftside{
    float: left;
}

ul#rightside{
    float: right;
}

#searcher{
    display: inline;
}

#searchbox{
    font-family: Work Sans, sans-serif;
    font-weight: 300;
    background: linear-gradient(rgba(255,20,0,0.6), rgba(255,130,0,0.6));
    color: white;
    border: 2px solid rgba(200,100,20,0.8);
    box-shadow: 0 0 5px 0.5px black;
    font-size: 17px;
    align-self: right;
    width: 200px;
    height: 35px;
    text-align: right;
    vertical-align: bottom;
    margin-top: 19px;
    transition: 2s;
}



ul.hidden-links{
    position: absolute;
    display: block;
    right: 0;
    top: 100%;
}

.burgermenu{
    font-size: 18px !important;
    font-family: Raleway;
}

.hidden-links > li{
    border-top: 1px solid #f57c00;
    background: linear-gradient(rgba(80,0,0,1), black);
    border: 2px solid black;
    box-shadow: 0 0 10px black;
}

.hidden-links > li > a{
    font-size: 12px;
}

.modify{
    margin-top: 0;
}

.modify:focus{
    width: 250px;
}

.marginadd{
    width: 130px;
    height: 60px;
}

.marginadd > #shopping{
    width: 60px;
    height: 60px;
}

.marginadd > #shopping:active{
    width: 35px;
    height: 35px;
    margin: 15px 5px 5px 15px;
}

#searchbox:focus{
    border: 2px solid rgba(255,130,20,1);
    width: 320px;
}

::placeholder {
    color: #404040;
    opacity: 1; /*Firefox and Chrome*/
}

button#search{
    background: url("../images/search button.png") no-repeat center center;
    background-size: 100% 100%;
    vertical-align: bottom;
    width: 35px;
    height: 35px;
    border: 2px solid rgba(200,100,20,0.8);
    transition: 50ms;
}

button#search:active{
    height: 25px;
    width: 25px;
    border: 2px solid rgba(255,130,20,1);
    margin: 5px 5px 5px 5px;
}

button#shopping{
    background: url("../images/shopping cart.png") no-repeat center center;
    background-size: 100% 100%;
    vertical-align: bottom;
    width: 35px;
    height: 35px;
    border: 2px solid rgba(200,100,20,0.8);
    margin-right: 12px;
    margin-left:5px;
    transition: 50ms;
}

button#shopping:active{
    width: 25px;
    height: 25px;
    border: 2px solid rgba(255,130,20,1);
    margin: 5px 18px 5px 9px;
}

/*Classes*/
.navtext{
    color: white;
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 3px 10px rgba(50,20,10,1);
    display: inline-block;
    transition: 400ms;
}

.navtext:hover{
    letter-spacing: 1px;
}

.synewave{
    font-family: Raleway, sans-serif;
    font-weight: 800;
    margin-top: 10px;
    font-size: 45px;
}

.synewave:hover{ color: rgba(240,100,0,1); }

.menus{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    margin-top: 20px;
    font-size: 26px;
}

.menus:hover{
    color: rgba(200,50,50,1);
}

.hovering{
    animation: oscillate 5s infinite;
}