#sidebar{
    grid-area: sidebar;
    position: sticky;
    background: linear-gradient(rgb(82, 9, 5), rgba(43, 3, 1, 0));
}

#sidebar > form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, 50px);
}

button.sidelinks{
    border: 0;
    text-align: right;
    line-height: 50px;
    box-shadow: 0 0 10px rgb(241, 143, 143);
    color: white;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(167, 0, 0), rgb(100,0,0));
}

button.sidelinks.subcat{
    background: linear-gradient(rgb(167,50,0), rgb(100,40,0));
}

button.sidelinks > p.cat{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

button.sidelinks > p.subcat{
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}