/* Imported fonts */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,500');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,800');
@import url('../bootstrap/css/bootstrap.min.css');

/* Overrides */

body{
    background: linear-gradient(rgba(70,0,0,1),rgba(10,0,0,1)) no-repeat center center fixed;
    margin: 0;
}

a{
    outline: 0;
    text-decoration: none !important;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    width: auto;
    color: white;
    font-size: 48px;
    margin-bottom: 0;
    text-shadow: 0 0 20px #000;
}

p {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 15px;
}

label{
    color: white;
}

header{
    position: fixed;
    width: 99%;
    top: 10px;
    min-width: 1166px;
}

h2 {
    width: auto;
    color: white;
}

img{
    height: 250px;
    float: right;
}

input{
    color: rgba(50,50,50,1);
}

/* IDs */

#activemenu{
    color: rgba(255,200,20,1);
}

#navbar{
    position: fixed;
    top: 10px;
    z-index: 20;
    background: linear-gradient(rgba(30, 0, 0, 1), rgba(120, 20, 20, 0.95));
    padding: 8px 8px 8px 8px;
    margin-top: -10px;
    margin-bottom: 0;
    height: 65px;
    min-width: 100%;
    box-shadow: 5px 5px 10px rgba(40,10,10,1);
}

#pagetext{
    font-family: Work Sans, sans-serif;
    color: white;
    font-weight: 200;
}

#syneicon{
    max-height: 150%;
    padding: 0;
    margin: -6px -6px -6px -6px;
}

div#iconbox{
    vertical-align: top;
    height: 75px;
    display: inline-block;
    float: left;
}

div#leftside{
    float: left;
}

div#rightside{
    float: right;
    margin-top: 1px;
    margin-right: -8px;
}

div#contact{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#searcher{
    display: inline;
}

#searchbox{
    font-family: Work Sans, sans-serif;
    font-weight: 300;
    background: linear-gradient(rgba(255,20,0,0.6), rgba(255,130,0,0.6));
    color: white;
    border: 2px solid rgba(200,100,20,0.8);
    box-shadow: 0 0 5px 0.5px black;
    font-size: 17px;
    align-self: right;
    width: 200px;
    height: 35px;
    text-align: right;
    vertical-align: bottom;
    margin-top: 19px;
    transition: 2s;
}

#searchbox:focus{
    border: 2px solid rgba(255,130,20,1);
    width: 320px;
}

#contact > form > label > .userinput{
    box-shadow: 0 0 20px 3px black;
    background: rgba(40,0,0,1);
    border: 2px solid rgba(100,0,0,1);
    color: rgba(200,200,200,1);
    font-weight: 300;
    vertical-align: top;
    transition: 400ms;
}

#contact > form > label > .userinput:focus{
    border: 2px solid gold;
    background: rgba(60,0,0,1);
}

button#search{
    background: url("../images/search button.png") no-repeat center center;
    background-size: 100% 100%;
    vertical-align: bottom;
    width: 35px;
    height: 35px;
    border: 2px solid rgba(200,100,20,0.8);
    transition: 50ms;
}

button#search:active{
    height: 25px;
    width: 25px;
    border: 2px solid rgba(255,130,20,1);
    margin: 5px 5px 5px 5px;
}

button#shopping{
    background: url("../images/shopping cart.png") no-repeat center center;
    background-size: 100% 100%;
    vertical-align: bottom;
    width: 35px;
    height: 35px;
    border: 2px solid rgba(200,100,20,0.8);
    margin-right: 12px;
    transition: 50ms;
}

button#shopping:active{
    width: 25px;
    height: 25px;
    border: 2px solid rgba(255,130,20,1);
    margin: 5px 15px 5px 7px;
}


/* Classes */

.navtext{
    color: white;
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 3px 10px rgba(50,20,10,1);
    display: inline-block;
    transition: 400ms;
}

.navtext:hover{ letter-spacing: 1px; }

.synewave{
    font-family: Raleway, sans-serif;
    font-weight: 800;
    margin-top: 10px;
    font-size: 45px;
}

.synewave:hover{ color: rgba(240,100,0,1); }

.menus{
    font-family: Raleway, sans-serif;
    font-weight: 200;
    margin-top: 20px;
    font-size: 26px;
}

.menus:hover{ color: rgba(200,50,50,1); }

.pagetitle{
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 80px;
    text-align: center;
    font-family: Raleway, sans-serif;
}

.name{
    font-family: Raleway, sans-serif;
}

.selfpic{
    box-shadow: 0 0 20px 3px black;
    margin-left: 30px;
}

.person {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.hovering{
    animation: oscillate 5s infinite;
}


/* Carousel */
.carousel {
    margin-top: 65px;
    --main-height: 500px;
    height: var(--main-height);
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    background: rgba(0,0,0,0.5);
    box-shadow: inset 0 0 20px 1px black;
    z-index: 10;
}

/* Adds inset shadow to images in carousel. */
.item:before{
    box-shadow: inset 0 0 50px 20px rgba(0, 0, 0, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: var(--main-height);
    background-color: #777;
}

.carousel-inner > .item > img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    object-fit: cover;
    height: var(--main-height);
}


@keyframes oscillate {
    0%{ margin-top: 3px; }
    50%{ margin-top: -3px; }
    100%{ margin-top: 3px; }
}

/* @Media for smaller screens */
@media screen and (max-width: 614px) {
    .pagetitle{
        font-size: 45px;
        margin-top: 20px;
    }

    .aboutme{
        margin-left: -40px;
        margin-right: -40px;
    }

    .selfpic{
        margin-right: -70px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    p{
        font-size: 14px;
    }

    h1{
        font-size: 30px;
    }

    div#leftside{
        align-items: center;
        text-align: center;
    }

    div#rightside{
        margin-top: -5px;
    }

    #searchbox:focus{
        height: 35px;
        width: 240px;
    }

    button#shopping{
        margin-right: 20px;
    }

    .synewave{
        margin-top: -1px;
        font-size: 35px;
        display: inline;
    }

    .synewave:after{
        content: "\a";
        white-space: pre;
    }

    #iconbox #syneicon{
        display: none;
    }

    .menus{
        margin-top: 0;
        font-size: 17px;
    }

    #navbar{
        position: relative;
        height: 145px;
    }

    .carousel{
        margin-top: 10px;
        height: 250px;
    }

    .carousel .item{
        height: 250px;
    }

    .carousel-inner > .item > img{
        height: 250px;
    }
}

@media screen and (max-width: 1040px) and (min-width: 614px){
    h1{
        font-size: 30px;
    }

    div#leftside{
        align-items: center;
        text-align: center;
    }

    div#rightside{
        margin-top: 30px;
    }

    #searchbox:focus{
        height: 35px;
        width: 240px;
    }

    button#shopping{
        margin-right: 20px;
    }

    .synewave{
        margin-top: -1px;
        font-size: 35px;
        display: inline;
    }

    .synewave:after{
        content: "\a";
        white-space: pre;
    }

    #iconbox #syneicon{
        display: none;
    }

    .menus{
        margin-top: 0;
        font-size: 17px;
    }

    #navbar{
        position: relative;
        height: 100px;
    }

    .carousel{
        margin-top: 13px;
        height: 250px;
    }

    .carousel .item{
        height: 250px;
    }

    .carousel-inner > .item > img{
        height: 250px;
    }
}


