/* Imported fonts and bootstrap*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,500');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,800');
@import url('../bootstrap/css/bootstrap.min.css');

/* Default stylings for the page */

body{
    background: linear-gradient(rgba(70,0,0,1),rgba(10,0,0,1)) no-repeat center center fixed;
    display:grid;
    grid-template-rows: 60px auto 120px;
    grid-template-columns: minmax(200px, 1fr) 12fr;
    grid-template-areas: "header header"
                         "main main "
                         "footer footer";
    grid-gap: 50px;
}

button, select{
    background: rgba(50,0,0,1);
    color: white;
    box-shadow: 0 0 8px black;
    border: 2px solid black;
}

/* Grid setups */
#frontpagebody{
    grid-template-rows: 60px auto 100px;
    grid-template-areas: "header header"
                         "carousel carousel"
                         "footer footer";
    grid-gap: 0;
}

#productbody{
    grid-template-areas: "header header"
                         "sidebar main"
                         "footer footer";
    grid-gap: 0;
}

#main{
    position: absolute;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

main{
    grid-area: main;
    overflow-y: auto;
}

a{
    outline: 0;
    text-decoration: none !important;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    width: auto;
    color: white;
    font-size: 48px;
    margin-bottom: 0;
    text-shadow: 0 0 20px #000;
}

p {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 15px;
}

label{
    color: white;
}

h2 {
    width: auto;
    color: white;
}

img{
    height: 250px;
    float: right;
}

input{
    color: rgba(50,50,50,1);
}

/* Concerned with contact us */

#pagetext{
    font-family: Work Sans, sans-serif;
    color: white;
    font-weight: 200;
}

div#contact{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: auto;
    width: 80%;
}

/* Widths of user input fields */

#contact > h1{
    grid-column: 1/11;
    text-align: center;
    grid-row: 1;
}

#contact > form{
    grid-row: 2/6;
    grid-column: 2/10;
}

#contact > form > label{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 30px);
    grid-row-gap: 50px;
}


#us1{
    grid-row: 1/2;
    grid-column: 1/2;
}

#us2{
    grid-row: 2/3;
    grid-column: 1/3;
}

#us3{
    grid-row: 3/5;
    grid-column: 1/6;
}

#us4{
    grid-row: 5/6;
    grid-column: 1/2;
}

#contact > form > label > div > .userinput{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 3px black;
    background: rgba(40,0,0,1);
    border: 2px solid rgba(100,0,0,1);
    color: rgba(200,200,200,1);
    font-weight: 300;
    vertical-align: top;
    transition: 400ms;
    display: flex;
}

#contact > form > label > div > .userinput:focus{
    border: 2px solid gold;
    background: rgba(60,0,0,1);
}

#contact > form > label > input{
    grid-row: 6/7;
    grid-column: 1/2;
}

/* Concerned with about us */

.pagetitle{
    margin-bottom: 30px;
    font-size: 80px;
    text-align: center;
    font-family: Raleway, sans-serif;
}

.name{
    font-family: Raleway, sans-serif;
}

.selfpic{
    box-shadow: 0 0 20px 3px black;
    margin-left: 30px;
}

.person {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

/* Concerned with category pages */

#categories {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    text-align: center;
}

.category {
  background: linear-gradient(#8d2222, #3d1111);
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: 0 0 10px white;
  width: 200px;
  height: 200px;
  line-height: 150px;
  padding: 20px;
  display: inline-block;
  margin: 40px 40px 40px 40px;
  vertical-align: middle;
  transition: 300ms;
}

.category:hover {
  box-shadow: 0 0 40px gold;
}

.img {
  margin:auto;
  display: flex;
  vertical-align: middle;
  height: 100%;
}

.category > .img > img{
  width: 70px;
  height: 70px;
  display: inline-block;
  transition: 300ms;
  margin: auto;
}

.category:hover > .img > img{
  width: 100px;
  height: 100px;
}

.category > p{
  margin-top: -80px;
  font-size: 20px;
  transition: 300ms;
  font-family: 'Raleway', sans-serif;
}

.category > p.subcategory{
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 0 0;
  line-height: 30px;
}

.category:hover > p{
  letter-spacing: 2px;
}

.subcategory{
  margin: auto;
  text-align: center;
  display: inline-block;
}

/* Products - Subcategory DIV colors */

#sub1 {
  background: linear-gradient(#8d2222, #3d1111);
}

#sub1:hover {
  box-shadow: 0 0 40px #af5555;
}

#sub2 {
  background: linear-gradient(#843c20, #621a09);
}

#sub2:hover {
  box-shadow: 0 0 40px #b76f53;
}

#sub3 {
  background: linear-gradient(#845220, #623008);
}

#sub3:hover {
  box-shadow: 0 0 40px #a78553;
}

#sub4 {
  background: linear-gradient(#84203e, #62081c);
}

#sub4:hover {
  box-shadow: 0 0 40px #a7536f;
}

#sub5 {
  background: linear-gradient(#A84444, #762222);
}

#sub5:hover {
    box-shadow: 0 0 40px #a7321f;
}

/* Concerned with product page */
.items {
  width: 90%;
  margin: auto;
  padding: 100px;
  text-align: center;
  margin-top: -75px;
}

.image {
  width: 300px;
  height: 220px;
}

.productname {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product {
  background: linear-gradient(#8d2222, #3d1111);
  display: inline-block;
  color: white;
  margin: 40px 40px 40px 40px;
  width: 300px;
  height: 400px;
  padding: 10px;
  vertical-align: middle;
  border-radius: 10px;
}

.product > .image > img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin-right: 35px;
  margin-top: 5px;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
}

/* Individual product */
.pickedmain {
    width: 100;
    margin: auto;
}

.pickeditem {
    width: 90%;
    margin: 40px 40px 40px 40px;
    border-radius: 30px;
    padding: 20px;
    background: linear-gradient(#a7321f, #3d1111);
    display: inline-block;
    color: white;
    height: 500px;
}

.pickedimage {
    float: left;
    border: black;
    height : 450px;
    width : 200px;
    margin-right: 150px;
}

.pickedimage > img {
    float: left;
    height: 450px;
    width: 300px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 20px #000;
}

#productname {
    font-weight: 400;
    font-size: 25px;
}

/* Styling for product not found main div*/
.productNotFound{
    height: 100%;
    text-align: center;
    margin: 0 auto;
    background-image: url("../images/ewnomusic.jpg");
    background-size: cover;
    position: relative;
    background-position-x: -60px;
}

.productNotFound p{
    font-weight: 500;
    text-shadow: 0 0 10px black;
}

/* Cart page */
h1#carttitle{
    grid-column: 1/7;
}

main#purchase{
    display: grid;
    width: 80%;
    margin: auto;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
}

div#totalprice{
    background: linear-gradient(rgba(150,10,1), rgba(150,60,10), rgba(150,80,10));
    padding: 20px;
    border-radius: 10px;
    height: 160px;
    box-shadow: 0 0 20px black;
    grid-column: 5/7;
    grid-row-start: 2;
}

div#totalprice > #label{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
}

div#totalprice > #totalcost{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 800;
}

div#cartdiv {
    grid-row-start: 2;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
    grid-gap: 20px;
}

form.cart {
    grid-column: 1/7;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

form.delete {
    margin-top: -22px;
    grid-column: 1/7;
}

form.delete > button {
    border-radius: 10px;
    background: linear-gradient(rgba(100,0,0,1), rgba(100,50,0,1));
    width: 100%;
    height: 50px;
}

form.cart > .cartitem{
    grid-column: 1/7;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 20px repeat(3,1fr) 20px;

    text-align: left;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    background: linear-gradient(#a7321f, #3d1111);
}

form.cart > .cartitem > img {
    grid-column: 1/2;
    grid-row: 1/5;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

form.cart > .cartitem > p {
    grid-column: 3/5;
}

form.cart > .cartitem > form {
    grid-column: 5/6;
}

form.cart > .cartitem > form > button {
    width: 100%;
    height: 100%;
}

/* 200 300 500 */

form.cart > .cartitem > p#name{
    font-size: 20px;
    font-weight: 300;
}

form.cart > .cartitem > p#make{
    font-size: 25px;
    font-weight: 500;
}

form.cart > .cartitem > p#cost{
    font-size: 20px;
    font-weight: 300;
}

form.cart > .cartitem > p#quty{
    font-size: 15px;
}

/* Animations */
@keyframes oscillate {
    0%{ margin-top: 3px; }
    50%{ margin-top: -3px; }
    100%{ margin-top: 3px; }
}