/* Imported fonts and bootstrap*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,500');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,800');
@import url('../bootstrap/css/bootstrap.min.css');

/* Default stylings for the page */

body{
    background: linear-gradient(rgba(70,0,0,1),rgba(10,0,0,1)) no-repeat center center fixed;
    margin: 0;
}

#main{
    position: absolute;
}

a{
    outline: 0;
    text-decoration: none !important;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    width: auto;
    color: white;
    font-size: 48px;
    margin-bottom: 0;
    text-shadow: 0 0 20px #000;
}

p {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 15px;
}

label{
    color: white;
}

h2 {
    width: auto;
    color: white;
}

img{
    height: 250px;
    float: right;
}

input{
    color: rgba(50,50,50,1);
}

/* Concerned with contact us */

#pagetext{
    font-family: Work Sans, sans-serif;
    color: white;
    font-weight: 200;
}

div#contact{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#contact > form > label > .userinput{
    box-shadow: 0 0 20px 3px black;
    background: rgba(40,0,0,1);
    border: 2px solid rgba(100,0,0,1);
    color: rgba(200,200,200,1);
    font-weight: 300;
    vertical-align: top;
    transition: 400ms;
}

#contact > form > label > .userinput:focus{
    border: 2px solid gold;
    background: rgba(60,0,0,1);
}

/* Concerned with about us */

.pagetitle{
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 80px;
    text-align: center;
    font-family: Raleway, sans-serif;
}

.name{
    font-family: Raleway, sans-serif;
}

.selfpic{
    box-shadow: 0 0 20px 3px black;
    margin-left: 30px;
}

.person {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

/* Concerned with products */

#categories {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    text-align: center;
}

.category {
  background: linear-gradient(#8d2222, #3d1111);
  border-radius: 25px;
  box-shadow: 0 0 10px white;
  width: 200px;
  height: 200px;
  line-height: 150px;
  padding: 20px;
  display: inline-block;
  margin: 40px 40px 40px 40px;
  vertical-align: middle;
  transition: 1s;
}

.category:hover {
  box-shadow: 0 0 40px gold;
}

.img {
  margin:auto;
  display: flex;
  vertical-align: middle;
  height: 100%;
}

.category > .img > img{
  width: 70px;
  height: 70px;
  display: inline-block;
  transition: 1s;
  margin: auto;
}

.category:hover > .img > img{
  width: 100px;
  height: 100px;
}

.category > p{
  margin-top: -80px;
  font-size: 20px;
  transition: 1s;
}

.category:hover > p{
  letter-spacing: 2px;
}


@keyframes oscillate {
    0%{ margin-top: 3px; }
    50%{ margin-top: -3px; }
    100%{ margin-top: 3px; }
}

/* @Media for smaller screens */
@media screen and (max-width: 614px) {
    .pagetitle{
        font-size: 45px;
        margin-top: 20px;
    }

    .aboutme{
        margin-left: -40px;
        margin-right: -40px;
    }

    .selfpic{
        margin-right: -70px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    p{
        font-size: 14px;
    }

    h1{
        font-size: 30px;
    }

    /*Divs of the navbar*/
    div#leftside{
        align-items: center;
        text-align: center;
    }
    div#rightside{
        margin-top: -5px;
    }

    #searchbox:focus{
        height: 35px;
        width: 240px;
    }

    button#shopping{
        margin-right: 20px;
    }

    .synewave{
        margin-top: -1px;
        font-size: 35px;
        display: inline;
    }

    .synewave:after{
        content: "\a";
        white-space: pre;
    }

    #iconbox #syneicon{
        display: none;
    }

    .menus{
        margin-top: 0;
        font-size: 17px;
    }

    #navbar{
        position: relative;
        height: 145px;
    }

    .carousel{
        margin-top: 10px;
        height: 250px;
    }

    .carousel .item{
        height: 250px;
    }

    .carousel-inner > .item > img{
        height: 250px;
    }
}

@media screen and (max-width: 1040px) and (min-width: 614px){
    h1{
        font-size: 30px;
    }

    div#leftside{
        align-items: center;
        text-align: center;
    }

    div#rightside{
        margin-top: 30px;
    }

    #searchbox:focus{
        height: 35px;
        width: 240px;
    }

    button#shopping{
        margin-right: 20px;
    }

    .synewave{
        margin-top: -1px;
        font-size: 35px;
        display: inline;
    }

    .synewave:after{
        content: "\a";
        white-space: pre;
    }

    #iconbox #syneicon{
        display: none;
    }

    .menus{
        margin-top: 0;
        font-size: 17px;
    }

    #navbar{
        position: relative;
        height: 100px;
    }

    .carousel{
        margin-top: 13px;
        height: 250px;
    }

    .carousel .item{
        height: 250px;
    }

    .carousel-inner > .item > img{
        height: 250px;
    }
}
