@import url(https://fonts.googleapis.com/css?family=Poppins);

body{
    background: linear-gradient(rgba(40,10,10,1),rgba(10,5,5,1)) no-repeat center center fixed;
}

.navbar{
    background: linear-gradient(rgba(30, 0, 0, 0.9), rgba(120, 20, 20, 0.9));
    padding: 8px 8px 8px 8px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 0;
    height: 50px;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(40,10,10,1);
}

.title{
    font-family: Poppins, sans-serif;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
    font-size: 45px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 3px 10px rgba(50,20,10,1);
    display: inline-block;
}

.iconbox{
    vertical-align: top;
    height: 75px;
    display: inline-block;
}

.icon{
    max-height: 175%;
    max-width: 175%;
    padding: 0;
    margin: -6px -6px -6px -6px;
}

body{
    background-color: #1c0300;
}

h1 { color: white; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; }

h2 { color: white; }

p { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }