.navbar{
    background: linear-gradient(rgba(30, 0, 0, 0.9), rgba(120, 20, 20, 0.9));
    padding: 8px 8px 8px 8px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 0;
    height: 50px;
    width: 100%;
}

@font-face {
    font-family: 'velocipede';
    src: url("../fonts/0Velocipede-Regular.ttf");
}

.index{
    font-family: velocipede;
    color: white;
    text-decoration: none;
    vertical-align: 100%;
    margin: 0;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 3px 10px #000;
}

.icon{
    max-height: 175%;
    max-width: 175%;
    padding: 0;
    margin: -6px -6px -6px -6px;
}

body{
    background-color: #1c0300;
}

h1 { color: #ff4411; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; }

p { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }