@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Timmana');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

body{
    background: linear-gradient(rgba(40,10,10,1),rgba(10,5,5,1)) no-repeat center center fixed;
}

a{
    outline: 0;
}

#activemenu{
    color: rgba(255,200,20,1);
}

#navbar{
    background: linear-gradient(rgba(30, 0, 0, 0.9), rgba(120, 20, 20, 0.9));
    padding: 8px 8px 8px 8px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 0;
    height: 50px;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(40,10,10,1);
}

.navtext{
    font-family: Timmana, sans-serif;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 3px 10px rgba(50,20,10,1);
    display: inline-block;
    transition: 400ms;
}

.navtext:hover{
    letter-spacing: 1px;
}

.synewave{
    font-size: 45px;
}

.synewave:hover{
    color: rgba(240,100,0,1);
}

.menus{
    font-size: 26px;
}

.menus:hover{
    color: rgba(200,50,50,1);
}

.search{
    font-family: Patua One, sans-serif;
    background: rgba(100,10,10,1);
    color: white;
    border: 0;
    box-shadow: 0 0 5px 0.5px black;
    font-size: 20px;
    align-self: right;
    width: 400px;
    text-align: right;
    float: right;
    margin-top: 15px;
}

div#iconbox{
    vertical-align: top;
    height: 75px;
    display: inline-block;
}

#icon{
    max-height: 120%;
    padding: 0;
    margin: -6px -6px -6px -6px;
}

#pagetext{
    font-family: Patua One, sans-serif;
    color: white;
}

.pagetitle{
    font-size: 40px;
}