/* Imported fonts */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,500');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,800');


/* CSS limitations */

@media all and (max-width:1166px){
    header{
        position: relative;
    }
}


/* Overrides */

body{
    background: linear-gradient(rgba(70,0,0,1),rgba(10,0,0,1)) no-repeat center center fixed;
    min-width: 1166px;
}

a{
    outline: 0;
}

h1 {
    width: auto;
    color: white;
    font-size: 48px;
    padding-bottom: 5px;
}

header{
    position: fixed;
    width: 99%;
    top: 10px;
    min-width: 1166px;
}

h2 {
    width: auto;
    color: white;
}

img{
    height: 250px;
    float: right;
}


/* IDs */

#activemenu{
    color: rgba(255,200,20,1);
}

#navbar{
    background: linear-gradient(rgba(30, 0, 0, 1), rgba(120, 20, 20, 0.95));
    padding: 8px 8px 8px 8px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 0;
    height: 50px;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(40,10,10,1);
}

#pagetext{
    font-family: Work Sans, sans-serif;
    color: white;
    font-weight: 200;
}

#syneicon{
    max-height: 120%;
    padding: 0;
    margin: -6px -6px -6px -6px;
}

div#iconbox{
    vertical-align: top;
    height: 75px;
    display: inline-block;
    float: left;
}

div#leftside{
    float: left;
}

div#rightside{
    float: right;
}

button#search{
    background: url("../images/search button.png") no-repeat center center;
    background-size: 100% 100%;
    vertical-align: bottom;
    width: 35px;
    height: 35px;
    border: 2px solid rgba(200,100,20,0.8);
    transition: 50ms;
}

button#search:active{
    height: 25px;
    width: 25px;
    border: 2px solid rgba(255,130,20,1);
}

button#shopping{
    background: url("../images/shopping cart.png") no-repeat center center;
    background-size: 100% 100%;
    vertical-align: bottom;
    width: 35px;
    height: 35px;
    border: 2px solid rgba(200,100,20,0.8);
    transition: 50ms;
}

button#shopping:active{
    width: 25px;
    height: 25px;
    border: 2px solid rgba(255,130,20,1);
}


/* Classes */

.navtext{
    color: white;
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 3px 10px rgba(50,20,10,1);
    display: inline-block;
    transition: 400ms;
}

.navtext:hover{
    letter-spacing: 1px;
}

.synewave{
    font-family: Raleway, sans-serif;
    font-weight: 800;
    margin-top: 10px;
    font-size: 45px;
}

.synewave:hover{
    color: rgba(240,100,0,1);
}

.menus{
    font-family: Raleway, sans-serif;
    font-weight: 200;
    margin-top: 20px;
    font-size: 26px;
}

.menus:hover{
    color: rgba(200,50,50,1);
}

.searchbox{
    font-family: Work Sans, sans-serif;
    font-weight: 200;
    background: linear-gradient(rgba(255,20,0,0.6), rgba(255,130,0,0.6));
    color: white;
    border: 2px solid rgba(200,100,20,0.8);
    box-shadow: 0 0 5px 0.5px black;
    font-size: 18px;
    align-self: right;
    width: 200px;
    height: 29px;
    text-align: right;
    vertical-align: bottom;
    margin-top: 19px;
    transition: 1s;
}

.searchbox:focus{
    border: 2px solid rgba(255,130,20,1);
    width: 320px;
}

.pagetitle{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 80px;
    text-align: center;
    font-family: Raleway, sans-serif;
}

.name{
    font-family: Raleway, sans-serif;
}

.selfpic{
    box-shadow: 0 0 20px 3px black;
    margin-left: 80px;
}

.person {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}


